// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.app {
  padding: 15px 0;
}
.btn-holder {
  margin-bottom: 20px;
  .btn-date {
    padding: 4px 12px;
    font-size: 12px;
    i {
      margin-left: 5px;
      margin-right: 5px;
      font-weight: bold;
    }
  }
}
.calendar {
  height: 80vh;
  overflow-y: scroll;
}
.meeting-time {
  height: 80px;
  text-align: right;
}
.meeting-info {
  border: 1px solid #bbbbbb;
  border-top: none;
  background: #eeeeee;
  height: 80px;
  position: relative;
  .details {
    position: absolute;
    background: #666666;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
    z-index: 1;
    min-height: 20px;
    padding: 2px 10px;
    border: 1px solid #fafafa;
    border-top: none;
    border-bottom: none;
    .title, .start-time, .end-time {
      margin-right: 15px;
    }
    .title {
      i {
        margin-right: 10px;
      }
    }
    .edit-links {
      text-decoration: none;
      color: #ffffff;
      margin-right: 15px;
    }
  }
}
#meeting-template {
  display: none;
}
